<div class="container">
  <div class="input-group mb-3">
    <span class="input-group-text">
        <i class="bi bi-person"></i>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
    />
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text">
        <i class="bi bi-key"></i>
    </span>
    <input
      class="form-control"
      placeholder="Password"
      aria-label="Password"
    />
    <button class="btn btn-outline-secondary" type="button" (click)="showPassword">
        <i class="bi bi-eye"></i>
    </button>
  </div>

  <div class="d-grid gap-2">
    <button
        type="email"
        name="login"
        id="login"
        class="btn btn-primary"
        (click)="login"
    >
        Login
    </button>
  </div>
  
</div>
