<nav class="navbar navbar-expand-sm navbar-dark bg-dark md-3">
  <div class="container-fluid px-5">
    <div class="gap-4 d-flex">
      <a class="navbar-brand" routerLink="">
        {{ globals.title }}
      </a>
      <a
          name="nav-add-post"
          id="nav-add-post"
          class="btn btn-primary"
          routerLink="/create"
          type="button"
          *ngIf="!!globals.user?.username"
        >
          <i class="bi bi-plus"></i>
          Add post
        </a>
    </div>
    <div class="gap-2 d-flex justify-content-end" *ngIf="!globals.user?.username">
      <a
        name="nav-login"
        id="nav-login"
        class="btn btn-outline-secondary"
        routerLink="/login"
        type="button"
      >
        Login
      </a>
      <a
        name="nav-register"
        id="nav-register"
        class="btn btn-primary"
        routerLink="/register"
        role="button"
        >Register
      </a>
    </div>
    <div class="gap-2 d-flex justify-content-end" *ngIf="!!globals.user?.username">
      <button
        name="nav-logout"
        id="nav-logout"
        class="btn btn-outline-secondary"
        (click)="logout()"
        type="button"
      >
        Logout
      </button>
      <span class="navbar-text">
        {{ globals.user?.username }}
      </span>
    </div>
  </div>
</nav>
