<nav class="navbar navbar-expand-sm navbar-dark bg-dark me-fill">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <div class="gap-2 d-flex justify-content-end">
      <a
        name="nav-login"
        id="nav-login"
        class="btn btn-outline-secondary"
        href="/login"
        type="button"
      >
        Login
      </a>
      <a
        name="nav-register"
        id="nav-register"
        class="btn btn-primary"
        href="/register"
        role="button"
        >Register
      </a>
    </div>
  </div>
</nav>
