<div class="container">

  <div class="row row-cols-1 row-cols-lg-2">
    <div class="p-2" *ngFor="let post of posts" >
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-start">
            <h5 class="card-title">{{ post.title }}</h5>
            <div class="d-flex flex-row gap-3">
              <small class="text-muted">
                <i class="bi bi-clock"></i>
                {{ post?.createdAt | date : "dd MMM yy" }}
              </small>
              <small class="text-muted"  [routerLink]="'/user/' + post.author._id">
                <i class="bi bi-person"></i>
                {{ post.author.username }}
              </small>
            </div>
          </div>
          <p class="card-text">{{ post.text }}</p>
          <a [routerLink]="'/post/' + post._id" class="link link-primary">Read more</a>
          
        </div>
      </div>
    </div>
  </div>
    
</div>
